@import url('colors.css');

/*############ Fonts ############*/
@font-face {
    font-family: 'InconsolataNerdFont';
    src: url('fonts/InconsolataNerdFont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InconsolataNerdFont';
    src: url('fonts/InconsolataNerdFont-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/*############ General ############*/
body {
    font-family: 'InconsolataNerdFont', sans-serif;
    background-color: var(--bg);
    color: var(--text);
    width: 50em;
    margin: 0 auto;

    a {
        color: var(--link);
        text-decoration: none;
    }
    
    hr {
        border: 0.1em solid;
        border-color: var(--border);
        margin-top: 2em;
        margin-bottom: 2em;
    }
}

/*############ Header ############*/
header {
    background-color: var(--header-bg);
    padding: 1em;
    height: 80px; /*Trouver une solution plus adaptive pour réduire les 6 pixels de trop*/

    .inline-style {
        height: 33px;
        margin-bottom: 20px;
    }

    nav {
        margin-bottom: 1em;
        ul { /*List navbar*/
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;

            a { /*navbar buttons*/
                text-decoration: none;
                color: var(--link);
                margin-right: 1em;
                padding: 0.5em;
            }

            a:hover {
                color: #32290b;
                background-color: var(--link);
            }
        }
    }
}

/*############ Big sections ############*/
.main-class, footer, header {
    padding: 1em;
    margin: 1em;
}

/*############ Main content ############*/
.main-class {
    background-color: var(--main-bg);
}

/*############ Footer ############*/
footer {
    background-color: var(--footer-bg);
    padding: 1em;

    a {
        color: var(--link);
        text-decoration: none;
    }

    ul li {
        list-style-type: none;
    }
}

/*############ Now ############*/
#now-id {
    ul li {
        margin-bottom: 1em; 
    }
}

/*############ Styles ############*/
.border-style {
    border: 0.15em solid;
    border-radius: 8px;
    border-color: var(--border);
}

.inline-style {
    display: flex;
    align-items: center;

    a {
        margin-right: 1em;
    }
}

.quote-style {
    border: 0.10em solid;
    border-radius: 8px;
    border-color: var(--border); /*Changer couleur*/
    padding: 1em;

    p {
        margin: 0px;;
    }
}